COMPOSE_PROJECT_NAME={{ .chezmoi.hostname }}

TZ=Europe/Zurich

PUID=1000
PGID=1000

#idk what here
CONFDIR=/home/sebastian/docker-configs
MEDIADIR=/mnt/media

FLAME_PASSWORD=1d0JMpjW2bZu85xUXcF*
DASH_JWT_SECRET=change-me-to-a-long-random-secret-or-else
